Repository cda-tum/fiction, pull requests merged in 2022-11, with the labels that each got.

#69 :construction_worker: Split the clang-tidy review workflow into two separate ones
  .github/workflows/clang-tidy-review-post.yml
  .github/workflows/clang-tidy-review.yml
  README.md
Labels: bug, dependencies, github_actions

#70 :construction_worker: Added a workaround for empty review messages in the clang-tidy-review workflow
  .github/workflows/clang-tidy-review.yml
Labels: bug, enhancement, github_actions

#71 Bug fix: FICTION_PYTHON_BINDINGS flag was ignored
  CMakeLists.txt
Labels: bug

#73 :construction_worker: Run CI only when necessary
  .github/workflows/clang-tidy-review-post.yml
  .github/workflows/clang-tidy-review.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-image.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: enhancement, github_actions

#75 :construction_worker: Added a ClangFormat linter workflow
  .github/workflows/clang-format.yml
Labels: enhancement, github_actions

#77 :memo: Improvements to the README and documentation
  README.md
  docs/_static/fiction_cli_example.gif
  docs/_static/nml_cells.png
  docs/_static/qca_cells.png
  docs/_static/sidb_cells.png
  docs/getting_started.rst
Labels: enhancement, documentation

#78 :construction_worker: Further build and CI exclusions
  .github/workflows/clang-tidy-review.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-image.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  libs/CMakeLists.txt
Labels: github_actions
