Repository cda-tum/fiction, pull requests merged in 2024-04, with the labels that each got.

#408 :arrow_up: Bump the Codecov action to v4
  .github/workflows/coverage.yml
Labels: github_actions

#407 :bug: Include x_min and y_min in OpDomain and check non-emptyness of vector before accessing element.
  include/fiction/algorithms/simulation/sidb/operational_domain.hpp
  include/fiction/technology/charge_distribution_surface.hpp
  test/algorithms/simulation/sidb/operational_domain.cpp
Labels: bug

#410 :bug: Fixed conversion of cube coordinate with negative y-value to SiQAD coordinate
  include/fiction/layouts/coordinates.hpp
  test/layouts/coordinates.cpp
  test/technology/sidb_nm_position.cpp
Labels: bug

#418 :construction_worker: CI Restructuring
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
Labels: github_actions

#420 👷 Auto-commit pyfiction docstrings
  .github/workflows/clang-format.yml
  .github/workflows/clang-tidy-review.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  .github/workflows/docker-image.yml
  .github/workflows/macos.yml
  .github/workflows/pyfiction-docstring-generator.yml
  .github/workflows/pyfiction-pypi-deployment.yml
  .github/workflows/python-bindings.yml
  .github/workflows/ubuntu.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
  bindings/pyfiction/README.md
  bindings/pyfiction/include/pyfiction/pybind11_mkdoc_docstrings.hpp
Labels: github_actions

#278 :art: Refactored the technology mapping interface
  .github/workflows/clang-tidy-review.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/coverage.yml
  Dockerfile
  bindings/pyfiction/include/pyfiction/algorithms/network_transformation/technology_mapping.hpp
  bindings/pyfiction/include/pyfiction/pybind11_mkdoc_docstrings.hpp
  bindings/pyfiction/pyfiction.cpp
  bindings/pyfiction/test/algorithms/network_transformation/test_fanout_substitution.py
  bindings/pyfiction/test/algorithms/network_transformation/test_technology_mapping.py
  cli/cmd/logic/map.hpp
  docs/algorithms/network_transformation.rst
  include/fiction/algorithms/network_transformation/technology_mapping.hpp
  test/algorithms/network_transformation/fanout_substitution.cpp
  test/algorithms/network_transformation/technology_mapping.cpp
Labels: enhancement, small fix
