Repository cda-tum/fiction, pull requests merged in 2025-07, with the labels that each got.

#785 :construction_worker: Modernize and simplify the clang-tidy CI
  .github/workflows/clang-tidy-review-post.yml
  .github/workflows/clang-tidy-review.yml
Labels: github_actions, tooling

#790 :construction_worker: Add permissions to the `clang-tidy` CI
  .github/workflows/clang-tidy-review.yml
Labels: github_actions, small fix

#791 :construction_worker: Update clang-tidy CI to use the `pull_request_target` trigger
  .github/workflows/clang-tidy-review.yml
Labels: github_actions, small fix

#784 :sparkles: Added flag to `gold` to enforce NOT gates to be routed non-bending only
  bindings/mnt/pyfiction/include/pyfiction/algorithms/physical_design/graph_oriented_layout_design.hpp
  bindings/mnt/pyfiction/include/pyfiction/pybind11_mkdoc_docstrings.hpp
  bindings/mnt/pyfiction/test/algorithms/physical_design/test_graph_oriented_layout_design.py
  cli/cmd/physical_design/gold.hpp
  docs/changelog.rst
  docs/cli.rst
  include/fiction/algorithms/physical_design/graph_oriented_layout_design.hpp
  test/algorithms/physical_design/graph_oriented_layout_design.cpp
Labels: enhancement
